@import "../../../assets/css/sharedCSS.css";

.ng-select {
  width: 18em;
}

.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  margin-left: 15em;
}

.top-page .card-login .card-body .input-group .form-control {
  padding-bottom: 10px;
  margin: 17px 0 10px 0;
}

.input-group-append {
  /*margin-left: -4em;*/
  padding: 12px 0px 0px 0px;
  cursor: pointer;
}
