@import "../../../assets/css/fontawesomefonts.css";

.header-filter::before {
  background: rgba(53, 55, 78, 0.8);
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}

.reset-password-page .card-login .card-title {
  margin-top: 80px;
}

.card-title {
  font-size: 25px;
}

.p-2 .fa {
  color: #EC8D0F;
}

.pg1 {
  font-family: cursive, "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
}

.pg2{
  font-family: cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
}

.reset-button {
  background: #EC8D0F;
  border-radius: 100px;
  border: 0;
  width: 20em;
  height: 55px;
  margin-left: 12%;
  color: #ffffff;
}
